#primary {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  margin-inline: 0px;
  padding-block: 14px;
  border-top: solid 1px var(--stroker-color);
  border-bottom: solid 1px var(--stroker-color);

  justify-content: space-between;
}